%{pre_hooks,
% [{compile, "mkdir -p include"}, %% ensure the include dir exists
%  {compile,
%   "deps/gpb/bin/protoc-erl -I`pwd`/proto -o-erl src -o-hrl include `pwd`/priv/*.proto"
%  }]}.
%
%{post_hooks,
% [{clean,
%   "bash -c 'for f in priv/*.proto; "
%   "do "
%   "  rm -f src/$(basename $f .proto).erl; "
%   "  rm -f include/$(basename $f .proto).hrl; "
%   "done'"}
% ]}.

{erl_opts, [
    debug_info,
    {src_dirs, ["src", "test"]},
    <!-- {i, "include"},
    {i, "deps/gpb/include"} -->
]}.

{deps, []}.
